In [131]:
import os    
from dotenv  import load_dotenv
from pathlib import Path
import requests
import pandas as pd
pd.options.display.max_colwidth = 600  # Set Full Display

In [132]:
'''
suburb="Mont_Waverley"
suburb_search = "mont-waverley-vic-3150"
'''

'\nsuburb="Mont_Waverley"\nsuburb_search = "mont-waverley-vic-3150"\n'

In [133]:

suburb="Glen_Waverley"
suburb_search = "glen-waverley-vic-3150"

## First Key:

In [134]:
load_dotenv(dotenv_path = Path("C:/Users/Leon/API_keys/.env"))
auproperty_api=os.getenv('auproperty_vincent2')
type(auproperty_api)

str

In [135]:
auth_url = 'https://api2.aupropertyreport.com/api/auth'

auth_response = requests.post(auth_url, data = {
                        'email':"vincentgao076@gmail.com",
                        'api_key':auproperty_api,
                        })
auth_token = auth_response.json() 
access_token = auth_token['data']["token"]
auth = {"Authorization":"Bearer " + access_token}
auth

{'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaTIuYXVwcm9wZXJ0eXJlcG9ydC5jb20vYXBpL2F1dGgiLCJpYXQiOjE2NDg2MzE2NzMsImV4cCI6MTY0ODcxODA3MywibmJmIjoxNjQ4NjMxNjczLCJqdGkiOiJaOUxFS1NoZko4dndlcjZaIiwic3ViIjozNywicHJ2IjoiNDBhNDZkZjhmNTlkN2E5ZGVkZDc0NjRkZDI2NTNjOGIxNzE2ZTBiZCIsInBsYW4iOm51bGx9.GVKWXPX_EU1dR7PELESpeQLegXI5DuVAaJ0o3l6ciXg'}

## Second Key:

In [29]:
# Overwrite, initiate second API key directly !!
# property_search_respond={}

In [222]:
property_search_url = "https://api2.aupropertyreport.com/api/property/search?q=3+17+hillcrest+ave+chadstone+vic+3148"

# GET Request
property_search_request = requests.get(property_search_url,headers=auth,params={"limit":"50"})
property_search_respond = property_search_request.json()
property_search_respond

[{'address': '3/17 Hillcrest Avenue, Chadstone Vic 3148',
  'code': 'unit-3-17-hillcrest-ave-chadstone-vic-3148',
  'state': 'VIC',
  'suburb': 'Chadstone',
  'postcode': '3148'}]

Exceed: {'message': 'You have exceeded your rate limit.', 'status_code': 429}

Normal:  [{'address': '3/17 Hillcrest Avenue, Chadstone Vic 3148',
  'code': 'unit-3-17-hillcrest-ave-chadstone-vic-3148',
  'state': 'VIC',
  'suburb': 'Chadstone',
  'postcode': '3148'}]

In [30]:
# 由于 address code search 的 respond 都是 list, 即使是空的，或者多个的，用来check rate-limit
if isinstance(property_search_respond, dict):

    auproperty_api=os.getenv('auproperty_vincent2')

    auth_url = 'https://api2.aupropertyreport.com/api/auth'

    auth_response = requests.post(auth_url, data = {
                        'email':"leon20130301@hotmail.com",
                        'api_key':os.getenv('auproperty_vincent'),
                        })
    auth_token = auth_response.json() 
    access_token = auth_token['data']["token"]
    auth = {"Authorization":"Bearer " + access_token}
    print(auth) # 如果没有任何显示，则说明没有使用这个 API key

{'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaTIuYXVwcm9wZXJ0eXJlcG9ydC5jb20vYXBpL2F1dGgiLCJpYXQiOjE2NDg2MjU5MDksImV4cCI6MTY0ODcxMjMwOSwibmJmIjoxNjQ4NjI1OTA5LCJqdGkiOiJwN1c5T0pTWE9KOE1CZkdXIiwic3ViIjozNiwicHJ2IjoiNDBhNDZkZjhmNTlkN2E5ZGVkZDc0NjRkZDI2NTNjOGIxNzE2ZTBiZCIsInBsYW4iOiJtb250aGx5X3BsYW5fYV9zbyJ9.Ki4Ze_hymrP_YhYX0XlPeJbw1l1XcrpFxFc-Se4sh3c'}

# Suburb For Sale Properties: Days on the market

## Initialization: Loading saved data

In [224]:
# use r -- to avoid unicode error !
filesaved_forsale_path=Path(rf'C:\Users\LEON\test\domain\Suburb_for_Sale_{suburb}.xlsx')
filesaved_forsale_df = pd.read_excel(filesaved_forsale_path, parse_dates=True)
print(filesaved_forsale_df.info())
filesaved_forsale_df.tail(1)

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 19 columns):
state             0 non-null object
address           0 non-null object
suburb_code       0 non-null object
suburb_name       0 non-null object
postcode          0 non-null object
image             0 non-null object
type              0 non-null object
bed               0 non-null object
bath              0 non-null object
car               0 non-null object
lat               0 non-null object
lng               0 non-null object
land              0 non-null object
list_date         0 non-null object
list_price        0 non-null object
days_on_market    0 non-null object
gnaf_pid          0 non-null object
pu_id             0 non-null object
agent_code        0 non-null object
dtypes: object(19)
memory usage: 0.0+ bytes
None

Empty DataFrame
Columns: [state, address, suburb_code, suburb_name, postcode, image, type, bed, bath, car, lat, lng, land, list_date, list_price, days_on_market, gnaf_pid, pu_id, agent_code]
Index: []

## Updating:

In [225]:
for_sale_url = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/buy"
# GET Request
for_sale_request_1 = requests.get(for_sale_url,headers=auth,params={"limit":"50"})
for_sale_respond_1 = for_sale_request_1.json()

# get total page number:
for_sale_pagesnum = for_sale_respond_1["data"]["buy"]["meta"]["pagination"]["total_pages"]
# save the first call API data to dataframe:
for_sale_df = pd.DataFrame(for_sale_respond_1["data"]["buy"]['data'])

for page_num in range(2,for_sale_pagesnum+1): # first entry saved, range not inclusive last
    for_sale_url_2 = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/buy?page={page_num}"
    # GET Request
    for_sale_request_2 = requests.get(for_sale_url_2,headers=auth,params={"limit":"50"})
    for_sale_respond_2 = for_sale_request_2.json()
    for_sale_temp_df = pd.DataFrame(for_sale_respond_2["data"]["buy"]['data'])
    for_sale_df = for_sale_df.append(for_sale_temp_df)

for_sale_df = for_sale_df.drop_duplicates("address",keep="last")

for_sale_updated_df = filesaved_forsale_df.append(for_sale_df)
for_sale_updated_df = for_sale_updated_df.drop_duplicates("address",keep="last")

for_sale_num_duplication = for_sale_updated_df["address"].duplicated().sum()

# create excel writer object
writer=pd.ExcelWriter(f'Suburb_for_Sale_{suburb}.xlsx')
# write dataframe to excel
for_sale_updated_df.to_excel(writer, index=False)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')
print(for_sale_updated_df.info())
print("---------------------------------------------")
print(f"Updated Entries: {len(for_sale_updated_df)-len(filesaved_forsale_df)}")
print("---------------------------------------------")
print(f"Check for duplication: {for_sale_num_duplication}")

DataFrame is written successfully to Excel File.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 128 entries, 0 to 27
Data columns (total 19 columns):
state             128 non-null object
address           128 non-null object
suburb_code       128 non-null object
suburb_name       128 non-null object
postcode          128 non-null object
image             128 non-null object
type              128 non-null object
bed               128 non-null object
bath              128 non-null object
car               128 non-null object
lat               128 non-null float64
lng               128 non-null float64
land              128 non-null object
list_date         128 non-null object
list_price        128 non-null object
days_on_market    128 non-null object
gnaf_pid          128 non-null object
pu_id             128 non-null object
agent_code        128 non-null object
dtypes: float64(2), object(17)
memory usage: 20.0+ KB
None
---------------------------------------------
Updated Entries: 128
---------------------------------------------
Check for duplication: 0

## Check Duplication:

PS: 非常注意：首次測試發現

1) Address available on request -- 即使是不同的，也可以drop 因爲沒有地址；此處是 公寓

2) 發現，極少 property 被反復 list,

3) 發現，這些記錄 是按時間順序，從近到遠排列，

Decision:

因爲 我們是往後面 append, 所以 使用 df.drop_duplicates("address", keep="last"), 即後面出現的唯一，其他前面的是重複的，drop掉。

而且，測試中發現，最近期的只是前面的刷新，只要還在list，更早期的記錄更完整，比如 listing 價格。

input output 都需要 drop!

### Check input duplication:

In [226]:
filesaved_forsale_df["address"].duplicated().sum()

0

In [227]:
# filesaved_df[filesaved_df["address"].duplicated()]

### Check update duplication:

In [228]:
for_sale_df["address"].duplicated().sum()

0

In [229]:
# for_sale_df[for_sale_df["address"].duplicated()]

### Check output duplication:

In [230]:
updated_df["address"].duplicated().sum()

0

In [231]:
# updated_df[updated_df["address"].duplicated()]

# Suburb Auction Results: 半年範圍，但是沒有 20 Cherry 説明 並不完整 ！！

'Sold',

'Passed In',

'Private Sale',

'Withdrawn Prior To Auction',

## Initialization: Loading saved data

In [77]:
# use r -- to avoid unicode error !
filesaved_auction_path=Path(rf'C:\Users\LEON\test\domain\Auction_Result_{suburb}.xlsx')
filesaved_auction_df = pd.read_excel(filesaved_auction_path, parse_dates=True)
print(filesaved_auction_df.info())
filesaved_auction_df.tail(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 13 columns):
address        155 non-null object
agency         155 non-null object
bed            155 non-null int64
id             155 non-null int64
is_sold        155 non-null bool
postcode       155 non-null int64
price          155 non-null int64
pu_id          101 non-null float64
result         155 non-null object
sold_date      155 non-null object
state          155 non-null object
suburb_name    155 non-null object
type           155 non-null object
dtypes: bool(1), float64(1), int64(4), object(7)
memory usage: 14.8+ KB
None

,address,agency,bed,id,is_sold,postcode,price,pu_id,result,sold_date,state,suburb_name,type
154,1/577 Waverley Rd,Biggin & Scott Glen Waverley,4,421076860,True,3150,1420000,NaN,Private Sale,2021-10-02,VIC,Glen Waverley,townhouse

## Updating:

In [243]:
auction_results_url_1 = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/auction-results"
# GET Request
auction_result_request_1 = requests.get(auction_results_url_1,headers=auth,params={"limit":"50"})
auction_result_respond_1 = auction_result_request_1.json()

# get total page number:
auction_result_pagesnum = auction_result_respond_1["data"]["auction_results"]["meta"]["pagination"]["total_pages"]
# save the first call API data to dataframe:
auction_result_df = pd.DataFrame(auction_result_respond_1["data"]["auction_results"]['data'])

for page_num in range(2,auction_result_pagesnum+1): # first entry saved, range not inclusive last
    auction_results_url_2 = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/auction-results?page={page_num}"
    # GET Request
    auction_result_request_2 = requests.get(auction_results_url_2,headers=auth,params={"limit":"50"})
    auction_result_respond_2 = auction_result_request_2.json()
    auction_result_temp_df = pd.DataFrame(auction_result_respond_2["data"]["auction_results"]['data'])
    auction_result_df = auction_result_df.append(auction_result_temp_df)

auction_result_df = auction_result_df.drop_duplicates("id",keep="last")

auction_result_updated_df = filesaved_auction_df.append(auction_result_df)
auction_result_updated_df = auction_result_updated_df.drop_duplicates("id",keep="last")

# create excel writer object
writer=pd.ExcelWriter(f'Auction_Result_{suburb}.xlsx')
# write dataframe to excel
auction_result_updated_df.to_excel(writer, index=False)

auction_result_num_duplication = auction_result_updated_df["id"].duplicated().sum()

# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')
print(auction_result_updated_df.info())
print("---------------------------------------------")
print(f"Updated Entries: {len(auction_result_updated_df)-len(filesaved_auction_df)}")
print("---------------------------------------------")
print(f"Check for duplication: {auction_result_num_duplication}")

DataFrame is written successfully to Excel File.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 140 entries, 0 to 39
Data columns (total 13 columns):
address        140 non-null object
agency         140 non-null object
bed            140 non-null object
id             140 non-null object
is_sold        140 non-null object
postcode       140 non-null object
price          140 non-null object
pu_id          103 non-null float64
result         140 non-null object
sold_date      140 non-null object
state          140 non-null object
suburb_name    140 non-null object
type           140 non-null object
dtypes: float64(1), object(12)
memory usage: 15.3+ KB
None
---------------------------------------------
Updated Entries: 140
---------------------------------------------
Check for duplication: 0

C:\Users\LEON\anaconda3\envs\quantenv\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

## Check Duplication:

PS: 非常注意： 

同一個地址可以重複，比如 auction pass-in了，但是後來 private sale了,

但是， id 不會重複！

In [ ]:
# filesaved_auction_df["address"].duplicated().sum()
# filesaved_auction_df[filesaved_auction_df["address"].duplicated()]

In [ ]:
filesaved_auction_df["id"].duplicated().sum()

0

In [ ]:
# filesaved_auction_df[filesaved_auction_df["id"].duplicated()]

# Suburb Sold Properties: 含 20 cherry, 一年範圍

## Initialization: Loading saved data

In [236]:
# use r -- to avoid unicode error !
filesaved_sold_path=Path(rf'C:\Users\LEON\test\domain\Sold_Result_{suburb}.xlsx')
filesaved_sold_df = pd.read_excel(filesaved_sold_path, parse_dates=True)
print(filesaved_sold_df.info())
filesaved_sold_df.tail(1)

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 19 columns):
state                 0 non-null object
address               0 non-null object
suburb_code           0 non-null object
suburb_name           0 non-null object
postcode              0 non-null object
image                 0 non-null object
type                  0 non-null object
bed                   0 non-null object
bath                  0 non-null object
car                   0 non-null object
lat                   0 non-null object
lng                   0 non-null object
land                  0 non-null object
sold_date             0 non-null object
sold_price            0 non-null object
gnaf_pid              0 non-null object
pu_id                 0 non-null object
agent_code            0 non-null object
sold_price_display    0 non-null object
dtypes: object(19)
memory usage: 0.0+ bytes
None

Empty DataFrame
Columns: [state, address, suburb_code, suburb_name, postcode, image, type, bed, bath, car, lat, lng, land, sold_date, sold_price, gnaf_pid, pu_id, agent_code, sold_price_display]
Index: []

## Updating:

In [237]:
sold_results_url_1 = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/sold"
# GET Request
sold_result_request_1 = requests.get(sold_results_url_1,headers=auth,params={"limit":"50"})
sold_result_respond_1 = sold_result_request_1.json()

# get total page number:
sold_result_pagesnum = sold_result_respond_1["data"]["sold"]["meta"]["pagination"]["total_pages"]
# save the first call API data to dataframe:
sold_result_df = pd.DataFrame(sold_result_respond_1["data"]["sold"]['data'])

for page_num in range(2,sold_result_pagesnum+1): # first entry saved, range not inclusive last
    sold_results_url_2 = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/sold?page={page_num}"
    # GET Request
    sold_result_request_2 = requests.get(sold_results_url_2,headers=auth,params={"limit":"50"})
    sold_result_respond_2 = sold_result_request_2.json()
    sold_result_temp_df = pd.DataFrame(sold_result_respond_2["data"]["sold"]['data'])
    sold_result_df = sold_result_df.append(sold_result_temp_df)


sold_result_df = sold_result_df.drop_duplicates(subset=["address","sold_date"],keep="last")

sold_result_updated_df = filesaved_sold_df.append(sold_result_df)
sold_result_updated_df = sold_result_updated_df.drop_duplicates(subset=["address","sold_date"],keep="last")

# create excel writer object
writer=pd.ExcelWriter(f'Sold_Result_{suburb}.xlsx')
# write dataframe to excel
sold_result_updated_df.to_excel(writer, index=False)


sold_result_num_duplication = sold_result_updated_df.duplicated(["address","sold_date"]).sum()
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')
print(sold_result_updated_df.info())
print("---------------------------------------------")
print(f"Updated Entries: {len(sold_result_updated_df)-len(filesaved_sold_df)}")
print("---------------------------------------------")
print(f"Check for duplication: {sold_result_num_duplication}")

DataFrame is written successfully to Excel File.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 707 entries, 0 to 10
Data columns (total 19 columns):
state                 707 non-null object
address               707 non-null object
suburb_code           707 non-null object
suburb_name           707 non-null object
postcode              707 non-null object
image                 707 non-null object
type                  707 non-null object
bed                   707 non-null object
bath                  707 non-null object
car                   707 non-null object
lat                   707 non-null float64
lng                   707 non-null float64
land                  707 non-null object
sold_date             707 non-null object
sold_price            707 non-null object
gnaf_pid              707 non-null object
pu_id                 707 non-null object
agent_code            706 non-null object
sold_price_display    574 non-null object
dtypes: float64(2), object(17)
memory usage: 110.5+ KB
None
---------------------------------------------
Updated Entries: 707
---------------------------------------------
Check for duplication: 0

## Check Duplication:

查 address:

1) 確實有重複的

2) 也有是 一年内 買了兩次

In [238]:
print(filesaved_sold_df.duplicated(["address","sold_date"]).sum())
filesaved_sold_df[filesaved_sold_df.duplicated(["address","sold_date"])]

0

Empty DataFrame
Columns: [state, address, suburb_code, suburb_name, postcode, image, type, bed, bath, car, lat, lng, land, sold_date, sold_price, gnaf_pid, pu_id, agent_code, sold_price_display]
Index: []

# Suburb Sold Trend: 区域 一年範圍 過去每个月 中价位

## Initialization: Loading saved data

In [240]:
# use r -- to avoid unicode error !
filesaved_sub_soldtrend_path=Path(rf'C:\Users\LEON\test\domain\Sold_Trend_{suburb}.xlsx')
filesaved_sub_soldtrend_df = pd.read_excel(filesaved_sub_soldtrend_path, parse_dates=True)
print(filesaved_sub_soldtrend_df.info())
filesaved_sub_soldtrend_df.tail(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 22 columns):
price_sum             1 non-null object
price_avg             0 non-null float64
price_median          0 non-null float64
standard_deviation    0 non-null float64
price_min             0 non-null float64
price_10th            0 non-null float64
price_20th            0 non-null float64
price_25th            0 non-null float64
price_30th            0 non-null float64
price_40th            0 non-null float64
price_50th            0 non-null float64
price_60th            0 non-null float64
price_70th            0 non-null float64
price_75th            0 non-null float64
price_80th            0 non-null float64
price_90th            0 non-null float64
price_max             0 non-null float64
num_all               0 non-null float64
num_all_with_price    0 non-null float64
start_date            0 non-null float64
end_date              0 non-null float64
growth                0 non-null float64
dtypes: float64(21), object(1)
memory usage: 304.0+ bytes
None

,price_sum,price_avg,price_median,standard_deviation,price_min,price_10th,price_20th,price_25th,price_30th,price_40th,...,price_70th,price_75th,price_80th,price_90th,price_max,num_all,num_all_with_price,start_date,end_date,growth
0,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [241]:
sub_sold_trend_url = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/sold-trend-data"

# GET Request
sub_sold_trend_request = requests.get(sub_sold_trend_url,headers=auth,params={"limit":"50"})
sub_sold_trend_respond = sub_sold_trend_request.json()

# save the first call API data to dataframe:
sub_sold_trend_df = pd.DataFrame.from_dict(sub_sold_trend_respond["data"]["sold_trend_data"]['data']["trend_list"],orient='index')
sub_sold_updated_df = filesaved_sub_soldtrend_df.append(sub_sold_trend_df)

sub_sold_updated_df = sub_sold_updated_df.drop_duplicates(subset=["start_date","end_date"],keep="last")
sub_sold_num_duplication = sub_sold_updated_df.duplicated(["start_date","end_date"]).sum()

# create excel writer object
writer=pd.ExcelWriter(f'Sold_Trend_{suburb}.xlsx')
# write dataframe to excel
sub_sold_trend_df.to_excel(writer, index=False)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')
print("---------------------------------------------")
print(sub_sold_trend_df.info())
print("---------------------------------------------")
print(f"Check for duplication: {sub_sold_num_duplication}")

DataFrame is written successfully to Excel File.
---------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, 2021-02 to 2022-02
Data columns (total 22 columns):
price_sum             13 non-null int64
price_avg             13 non-null int64
price_median          13 non-null int64
standard_deviation    13 non-null int64
price_min             13 non-null int64
price_10th            13 non-null int64
price_20th            13 non-null int64
price_25th            13 non-null int64
price_30th            13 non-null int64
price_40th            13 non-null int64
price_50th            13 non-null int64
price_60th            13 non-null int64
price_70th            13 non-null int64
price_75th            13 non-null int64
price_80th            13 non-null int64
price_90th            13 non-null int64
price_max             13 non-null int64
num_all               13 non-null int64
num_all_with_price    13 non-null int64
start_date            13 non-null object
end_date              13 non-null object
growth                13 non-null object
dtypes: int64(19), object(3)
memory usage: 2.3+ KB
None
---------------------------------------------
Check for duplication: 0

# Other Reports:

### Suburb ABS data

In [ ]:
'''
abs_url = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/abs-data"

# GET Request
abs_request = requests.get(abs_url,headers=auth,params={"limit":"50"})
abs_respond=abs_request.json()
abs_respond
'''

'\nabs_url = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/abs-data"\n\n# GET Request\nabs_request = requests.get(abs_url,headers=auth,params={"limit":"50"})\nabs_respond=abs_request.json()\nabs_respond\n'

# Sate Auction Summary:

In [78]:
import datetime
from dateutil import relativedelta

1 st 周末：

In [79]:
today = datetime.datetime.now()
start = today - datetime.timedelta((today.weekday() + 1) % 7)
sat = start + relativedelta.relativedelta(weekday=relativedelta.SA(-1))
sat = sat.strftime("%Y-%m-%d")
sat

'2022-03-26'

2 nd 周末：

In [80]:
sat2 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-2))
sat2 = sat2.strftime("%Y-%m-%d")
sat2

'2022-03-19'

1 年前，同樣星期數：

In [81]:
sat3 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-25))
sat3 = sat3.strftime("%Y-%m-%d")
sat3

'2021-10-09'

In [82]:
sat4 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-51))
sat4 = sat4.strftime("%Y-%m-%d")
sat4

'2021-04-10'

In [83]:
sat5 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-76))
sat5 = sat5.strftime("%Y-%m-%d")
sat5

'2020-10-17'

In [84]:
sat6 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-102))
sat6 = sat6.strftime("%Y-%m-%d")
sat6

'2020-04-18'

In [85]:
sat7 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-127))
sat7 = sat7.strftime("%Y-%m-%d")
sat7

'2019-10-26'

In [86]:
sat8 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-153))
sat8 = sat8.strftime("%Y-%m-%d")
sat8

'2019-04-27'

In [87]:
sat9 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-178))
sat9 = sat9.strftime("%Y-%m-%d")
sat9

'2018-11-03'

In [88]:
sat10 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-204))
sat10 = sat10.strftime("%Y-%m-%d")
sat10

'2018-05-05'

In [89]:
sat11 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-229))
sat11 = sat11.strftime("%Y-%m-%d")
sat11

'2017-11-11'

In [90]:
sat12 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-255))
sat12 = sat12.strftime("%Y-%m-%d")
sat12

'2017-05-13'

In [91]:
date_list=[sat,sat2,sat3,sat4,sat5,sat6,sat7,sat8,sat9,sat10,sat11,sat12]
# state_list=["vic", "nsw", "qld", "sa", "wa", "act", "nt", "tas"]
state_list=["vic", "nsw", "qld"]

In [92]:
# use r -- to avoid unicode error !
filesaved_state_auction_path=Path(rf'C:\Users\LEON\test\domain\State_Auction_Result.xlsx')
filesaved_state_auction_df = pd.read_excel(filesaved_state_auction_path, parse_dates=True)
print(filesaved_state_auction_df.info())
filesaved_state_auction_df.tail(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 15 columns):
week                   56 non-null int64
state                  56 non-null object
auction_date           56 non-null object
clearance_rate         56 non-null float64
reported               56 non-null int64
sold_before_auction    56 non-null int64
sold_at_auction        56 non-null int64
sold_after_auction     56 non-null int64
withdrawn              56 non-null int64
passed_in              56 non-null int64
sold                   56 non-null int64
unsold                 56 non-null int64
sum_price              56 non-null int64
median_price           56 non-null int64
updated_at             56 non-null object
dtypes: float64(1), int64(11), object(3)
memory usage: 6.7+ KB
None

,week,state,auction_date,clearance_rate,reported,sold_before_auction,sold_at_auction,sold_after_auction,withdrawn,passed_in,sold,unsold,sum_price,median_price,updated_at
55,19,TAS,2017-05-13,25.0,8,0,1,1,1,5,2,6,275000,275000,2017-05-18

In [93]:
temp=[]
for each_state in state_list:
    for date in date_list:
        state_auction_summary_url = f"https://api2.aupropertyreport.com/api/state/{each_state}/auction-summary?date={date}"
        # GET Request
        state_auction_summary_request = requests.get(state_auction_summary_url,headers=auth,params={"limit":"50"})
        state_auction_summary_respond = state_auction_summary_request.json()
        temp.append(state_auction_summary_respond["data"])
    state_auction_df=pd.DataFrame(temp)
filesaved_state_auction_df=filesaved_state_auction_df.append(state_auction_df)        

filesaved_state_auction_df = filesaved_state_auction_df.drop_duplicates(subset=["week","state"],keep="last")
num_duplication = filesaved_state_auction_df.duplicated(["week","state"]).sum()

# create excel writer object
writer=pd.ExcelWriter(f'State_Auction_Result.xlsx')
# write dataframe to excel
filesaved_state_auction_df.to_excel(writer, index=False)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')
print("---------------------------------------------")
print(filesaved_state_auction_df.info())
print("---------------------------------------------")
print(f"Check for duplication: {num_duplication}")

DataFrame is written successfully to Excel File.
---------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 95
Data columns (total 15 columns):
week                   96 non-null int64
state                  96 non-null object
auction_date           96 non-null object
clearance_rate         96 non-null float64
reported               96 non-null int64
sold_before_auction    96 non-null int64
sold_at_auction        96 non-null int64
sold_after_auction     96 non-null int64
withdrawn              96 non-null int64
passed_in              96 non-null int64
sold                   96 non-null int64
unsold                 96 non-null int64
sum_price              96 non-null int64
median_price           96 non-null int64
updated_at             96 non-null object
dtypes: float64(1), int64(11), object(3)
memory usage: 12.0+ KB
None
---------------------------------------------
Check for duplication: 0

In [94]:
filesaved_state_auction_df.head()

,week,state,auction_date,clearance_rate,reported,sold_before_auction,sold_at_auction,sold_after_auction,withdrawn,passed_in,sold,unsold,sum_price,median_price,updated_at
0,12,VIC,2022-03-26,76.8,991,266,488,7,57,173,761,230,658597227,993000,2022-03-26
1,11,VIC,2022-03-19,76.5,890,280,396,5,44,165,681,209,563033941,958500,2022-03-19
2,40,VIC,2021-10-09,83.1,668,298,249,8,42,71,555,113,432330222,963000,2021-10-09
3,14,VIC,2021-04-10,84.2,651,210,313,25,5,98,548,103,437378062,889500,2021-04-10
4,42,VIC,2020-10-17,70.7,82,21,37,0,4,20,58,24,38066000,804000,2020-10-17

# Weekly Vic Auction Summary:

In [136]:
import datetime
from dateutil import relativedelta

In [137]:
# use r -- to avoid unicode error !
filesaved_state_auction_weekly_path=Path(rf'C:\Users\LEON\test\domain\State_Auction_Result_VIC_Weekly.xlsx')
filesaved_state_auction_weekly_df = pd.read_excel(filesaved_state_auction_weekly_path, parse_dates=True)
print(filesaved_state_auction_weekly_df.info())
filesaved_state_auction_weekly_df.tail(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 15 columns):
week                   46 non-null int64
state                  46 non-null object
auction_date           46 non-null object
clearance_rate         46 non-null float64
reported               46 non-null int64
sold_before_auction    46 non-null int64
sold_at_auction        46 non-null int64
sold_after_auction     46 non-null int64
withdrawn              46 non-null int64
passed_in              46 non-null int64
sold                   46 non-null int64
unsold                 46 non-null int64
sum_price              46 non-null int64
median_price           46 non-null int64
updated_at             46 non-null object
dtypes: float64(1), int64(11), object(3)
memory usage: 5.5+ KB
None

,week,state,auction_date,clearance_rate,reported,sold_before_auction,sold_at_auction,sold_after_auction,withdrawn,passed_in,sold,unsold,sum_price,median_price,updated_at
45,14,VIC,2021-04-10,84.2,651,210,313,25,5,98,548,103,437378062,889500,2021-04-10

In [138]:
state_auction_summary_respond

{'message': 'get_class() expects parameter 1 to be object, null given',
 'status_code': 500}

In [139]:
temp=[]
state_list_vic=["vic", "nsw", "qld"]


for each_state in state_list_vic:
    for i in range(1,53):
        today = datetime.datetime.now()
        start = today - datetime.timedelta((today.weekday() + 1) % 7)
        sat = start + relativedelta.relativedelta(weekday=relativedelta.SA(-i))
        sat = sat.strftime("%Y-%m-%d")

        state_auction_summary_url = f"https://api2.aupropertyreport.com/api/state/{each_state}/auction-summary?date={sat}"
        # GET Request
        state_auction_summary_request = requests.get(state_auction_summary_url,headers=auth,params={"limit":"50"})
        state_auction_summary_respond = state_auction_summary_request.json()

        if "data" in state_auction_summary_respond:  
            temp.append(state_auction_summary_respond["data"])
    state_auction_df=pd.DataFrame(temp)
filesaved_state_auction_weekly_df=filesaved_state_auction_weekly_df.append(state_auction_df)        

filesaved_state_auction_weekly_df = filesaved_state_auction_weekly_df.drop_duplicates(subset=["week","state"],keep="last")
num_duplication = filesaved_state_auction_weekly_df.duplicated(["week","state"]).sum()

# create excel writer object
writer=pd.ExcelWriter(f'State_Auction_Result_VIC_Weekly.xlsx')
# write dataframe to excel
filesaved_state_auction_weekly_df.to_excel(writer, index=False)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')
print("---------------------------------------------")
print(filesaved_state_auction_weekly_df.info())
print("---------------------------------------------")
print(f"Check for duplication: {num_duplication}")

DataFrame is written successfully to Excel File.
---------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 0 to 137
Data columns (total 15 columns):
week                   138 non-null int64
state                  138 non-null object
auction_date           138 non-null object
clearance_rate         138 non-null float64
reported               138 non-null int64
sold_before_auction    138 non-null int64
sold_at_auction        138 non-null int64
sold_after_auction     138 non-null int64
withdrawn              138 non-null int64
passed_in              138 non-null int64
sold                   138 non-null int64
unsold                 138 non-null int64
sum_price              138 non-null int64
median_price           138 non-null int64
updated_at             138 non-null object
dtypes: float64(1), int64(11), object(3)
memory usage: 17.2+ KB
None
---------------------------------------------
Check for duplication: 0